body{
  background-color: #000;
  height: 100%;
}

nav{
  background-color: #000;
}

.main-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .btn{
  background-color: #fff;
  color: #000;
  border: none;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 1.2em grey;
  margin: 1em;
  margin-top: 0;
  padding-bottom: 0.5em;
  font-size: 0.8em;
}

#video-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  display: flex;
  width: 50%;
  height: 50%;
}

.invite {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,-10%);
  text-align: center;
}

.screenShare {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,-10%);
  text-align: center;
}

.closeShare {
  float: right;
  cursor: pointer;
}
.invite input {
  width: 100%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.invite button {
  width: 100%;
  margin-bottom: 20px;
}

.invite a button {
  width: 100%;
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
