body{
  background-color: #000;
  height: 100%;
}

nav{
  background-color: #000;
  display: block;
}

.main-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .btn{
  background-color: #fff;
  color: #000;
  border: none;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 1.2em grey;
  margin: 1em;
  margin-top: 0;
  padding-bottom: 0.5em;
  font-size: 0.8em;
}

nav .btn:hover {
  background-color: #DDDDDD;
}


.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px grey;
  padding: 5px 0;
  border-radius: 5px;
}

.dropup-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ddd}

.dropup:hover .dropup-content {
  display: block;
}

#video-grid {
  width: 85%;
  overflow: hidden;
}

#other-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
}

.local-video {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0px;
  max-width: 100%;
  max-height: 100%;
  float: left;
  background: #000;
  box-shadow: -0.15em 0.15em 0.5em grey;
}

.one-video {
  display: flex;
  justify-content: center;
  margin: auto;
}

.invite {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,-10%);
  text-align: center;
}

.screenShare {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,-10%);
  text-align: center;
}

.closeShare {
  float: right;
  cursor: pointer;
}
.invite input {
  width: 100%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.invite button {
  width: 100%;
  margin-bottom: 20px;
}

.invite a button {
  width: 100%;
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* Chat Box */
.message-container {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%);
  height: 20rem;
}

.chat-messages {
  position: relative;
  height: 12rem;
  overflow-y: auto;
}

.send-container {
  position: fixed;
  width: 90%;
  padding-bottom: 2px;
  bottom: 0;
  display: flex;
}

.closeChat {
  float: right;
  cursor: pointer;
}

.closeList {
  float: right;
  cursor: pointer;
}

label {
  padding: 0 20px;
}
